body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

#timeblock {
  margin: 0px auto;
}

#timeblock-color-code {
  font-weight: bold;
}

.past {
  background-color: rgb(128, 127, 126);
  color: white;
  width: 70vw;
  min-height: 200px;
}

.present {
  background-color: rgb(9, 170, 58);
  color: white;
  width: 70vw;
  min-height: 200px;
}

.future {
  background-color: rgb(194, 48, 48);
  color: white;
  width: 70vw;
  min-height: 200px;

}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.timeblock-information {
  position: relative;
  
}

.timeblock-event-information {
  width: 420%;
}


#saveButton {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 200px;
}


.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* ***** RESPONSIVENESS ******* */

@media (max-width: 1100px) {
  .timeblock-event-information {
    width: 360%;
  }

  .display-3 {
    font-size: 2rem;
  }

}

@media (max-width: 990px) {
  .timeblock-event-information {
    width: 250%;
  }

}

@media (max-width: 760px) {
  .timeblock-event-information {
    width: 180%;
  }
}

@media (max-width: 520px) {
  .timeblock-event-information {
    width: 120%;
  }
}

@media (max-width: 400px) {
  .timeblock-event-information {
    width: 110%;
  }

  .display-3 {
    font-size: 1.5rem;
    margin-bottom: 12%;
  }
}

@media (max-width: 330px) {
  .timeblock-event-information {
    width: 90%;
  }
}